<div class="row">
  <div class="titulosite d-flex align-items-center">
    <span>{{this.titulosite}}</span>
    <div class="titulosite d-flex align-items-center col-sm justify-content-end">
      <img src="user.svg" alt="">
    </div>
  </div>
  <div class="list-group menususuario">
    <li class="list-group-item disable">MENU</li>
    <a class="list-group-item list-group-item-action itemclicavel">A third item</a>
    <a class="llist-group-item list-group-item-action itemclicavel">A fourth item</a>
  </div>
</div>

