.background{
  background-color: rgb(228,228,228);
  width: 100%;
  padding-top: 65px;
}
.list-group{
  flex-direction: row;
}
li{
  list-style: none;
}
.cardCategoria{
  width: 170px;
  text-align: center;
  margin-top:10px;
}
p{
  font-weight: bolder;
}
