<div class="pos-f-t menusexpansivel">
  <nav class="navbar navbar-light">
    <button
    class="navbar-toogle"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggleContent"
    aria-controls="navbarToggleContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toogle-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleContent">
    <div class="list-group mennusario bg-light p4">
      <li class="list-group-item disable">CATEGORIAS</li>
      <a href="#" class="list-group-item list-group-item-action itemclicavel">Tecnologia da Informação</a>
      <a href="#" class="list-group-item list-group-item-action itemclicavel">Gestão de Obras</a>
      <a href="#" class="list-group-item list-group-item-action itemclicavel">Metodologia Ativas</a>
    </div>
  </div>
</div>
